.table-main {
    margin: auto;
    border: 2px solid lightblue;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-top: 200px;
}

.table-main td {
    padding: 10px;
}

.btn {
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.add {
    background: lightblue;
    border: 2px solid lightblue;
}


.delete {
    background: red;
    border: 2px solid red;
}

.change {
    background: green;
    border: 2px solid green;
}

.save {
    background: blue;
    border: 2px solid blue;
}

input {
    height: 30px;
    font-size: 20px;
    outline: none;
}