.table-main {
    margin: auto;
    border: 2px solid lightblue;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-top: 200px;
}

.table-main td {
    padding: 10px;
}

.add {
    width: 60px;
    height: 40px;
    cursor: pointer;
    background: lightblue;
    outline: none;
    border: 2px solid lightblue;
    border-radius: 5px;
    color: white;
}


.delete {
    background: red;
    cursor: pointer;
    border: 2px solid red;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.change {
    background: green;
    cursor: pointer;
    border: 2px solid green;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.save {
    background: blue;
    cursor: pointer;
    border: 2px solid blue;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

input {
    height: 30px;
    font-size: 20px;
    outline: none;
}